:root{
    /* COLOR*/
    --first-color: #2B3467;
    --second-color:#FCFFE7;
    --third-color:#38f0d1;
    --first-transparent-color:#1f306ed0 ;
    --second-transparant-color:rgba(255, 255, 255, 0.8);
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    /* SIZE*/
    --padding-first:15px;
    --margin-first:15px;
    --nav-height:80px;
    --cover-height:calc(100vh - var(--nav-height));



}



